@import "~bootstrap/scss/bootstrap";

.animate-repeat {

  &.ng-move, &.ng-enter, &.ng-leave {
    transition: all linear 0.5s;
  }

  &.ng-move, &.ng-enter, &.ng-leave.ng-leave-active {
    opacity:0;
    max-height:0;
  }

  &.ng-move.ng-move-active, &.ng-enter.ng-enter-active, &.ng-leave {
    opacity:1;
    max-height: 40px;
  }
}


.autocomplete-list {
  ul {
    padding-left: 0;

    li {
      list-style:none;
      padding: .25rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,.125);
    }
  }
}

.autocomplete {
  ul {
    height: 0;
    opacity: 0;
    transition: none;

    list-style: none;
    background: white;
    padding: 0.375rem 0;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border: 1px solid #ced4da;
    border-top: none;

    li {
      padding-left: 0.75rem;
      padding-right: 0.75rem;

      &:hover {
        background: #eee;
        cursor: pointer;
        transition: all 0.2s;
      }
    }
  }

  input {
    box-shadow: none;

    &:focus + ul {
      opacity: 1;
      height: initial;
    }
  }
}